@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MicroservicioWebApi.DTO.CuponDTO

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    @Html.ActionLink("Agregar cupon", "Form", "Cupon", new { area = "" }, new { @class = "btn btn-outline-primary col-2" })
</div>


<table class="table table-responsive table-info table-striped">
    <thead>
        <tr>
            <th></th>
            <th>Codigo</th>
            <th>Cantidad Minima</th>
            <th>Descuento</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (MicroservicioWebApi.DTO.CuponDTO cupon in Model.CuponesL)
        {
            <tr>
                <td><a class="btn btn-outline-success" href="@Url.ActionLink("Form", "Cupon", new {IdCupon = cupon.IdCupon})">Editar</a></td>
                <td>@cupon.Codigo</td>
                <td>@cupon.CantidadMinima</td>
                <td>@cupon.Descuento</td>
                <td><a class="btn btn-outline-danger" href="@Url.ActionLink("Delete", "Cupon", new{IdCupon = cupon.IdCupon})" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a></td>
            </tr>

        }
    </tbody>
</table>
